<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="#{procamp.hello}">123</p>

<h1>Hello </h1>
<div sec:authorize="hasRole('USER')">
    <ul th:each="name : ${names}">
        <li><input type="text" name="userName" value="James Carrot" th:value="${name}" /></li>
        <!--<li><span th:text="${name}">!</span></li>&lt;!&ndash;&ndash;&gt;-->
    </ul>
</div>

<p th:text="${secret}">123</p>

</body>
</html>